@{
    ViewBag.Title = "Create Person";
}
<a href="~/persons/index" class="link-hover">Back to home</a>
<h2>Create Person</h2>
@if (ViewBag.Errors != null)
{
    <div class="w-50 text-red ml">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}
<div class="w-50">
    <form method="post" action="~/persons/create" class="mt">
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="PersonName">Person Name</label>
            </div>
            <div class="flex-1">
                <input class="form-input" id="PersonName" name="PersonName" type="text"/>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="Email">Email</label>
            </div>
            <div class="flex-1">
                <input class="form-input" id="Email" name="Email" type="email"/>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="DateOfBirth">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input class="form-input" id="DateOfBirth" name="DateOfBirth" type="date"/>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="Gender">Gender</label>
            </div>
            <div class="flex-1">
                <input class="ml" id="Male" name="Gender" type="radio" value="Male"/>
                <label for="Male">Male</label>
                <input class="ml" id="Female" name="Gender" type="radio" value="Female"/>
                <label for="Female">Female</label>
                <input class="ml" id="Others" name="Gender" type="radio" value="Others"/>
                <label for="Others">Others</label>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="CountryId">Country</label>
            </div>
            <div class="flex-1">
                <select class="form-input" id="CountryId" name="CountryId">
                    <option value="">Select your country</option>
                    @foreach (CountryResponse country in ViewBag.Countries)
                    {
                        <option value="@country.CountryId">@country.CountryName</option>
                    }
                </select>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" for="Address">Address</label>
            </div>
            <div class="flex-1">
                <input class="form-input" id="Address" name="Address" type="text"/>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input id="ReceiveNewsLetters" name="ReceiveNewsLetters" type="checkbox" value="true"/>
                <label class="form-label" for="ReceiveNewsLetters">Receive News Letters</label>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
