@model PersonResponse
@{
    ViewBag.Title = "Delete person";
}

<h2>Delete Person</h2>
<div class="w-50">
    <form asp-controller="Persons" asp-action="Delete" method="post">
        <h2>Are you sure to delete this Person?</h2>
        <input type="hidden" asp-for="PersonId"/>
        <div class="flex form-field">
            <div class="w-25">
                <label class="form-label" asp-for="PersonName">Person Name</label>
            </div>
            <div class="flex-1">
                <input class="form-input" asp-for="PersonName"/>
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>
        <div class="flex form-field">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-red-back" type="submit">Delete</button>
                <a asp-controller="Persons" asp-action="Index" class="link-hover">Back to home</a>
            </div>
        </div>
    </form>
</div>